h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: .5em;
    color: rgba(0, 0, 0, 0.6);
}

h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    color: rgba(0, 0, 0, 0.6);
}

.color {
    text-align: center;
}

.cssInfo {
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.01em;
}